body, html, .container, .hero {
	height: 100%;
}

.vjs-default-skin { color: #ffffff; }
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level { background-color: #ffffff }
.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button { background: rgba(0,0,0,0) }
.vjs-default-skin .vjs-slider { background: rgba(0,0,0,0) }

.vjs-youtube { 
	position: relative; 
	overflow: hidden; 
}

.vjs-youtube iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
}

.vjs-youtube > div:first-child {
	height: 100% !important;
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
}
